.each-booking-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
}
.fee {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    background-color: #B85042;
    color: #A7BEAE;
}

.span-ele {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}